# Local configuration file (sdk path, etc)
local.properties

# IntellijJ IDEA
*.iml
*.ipr
*.iws
.idea/**
classes/**
target/**

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Mac OS
.DS_Store

# Gradle
gradle-app.setting
.gradletasknamecache
.gradle/**
build/**
/captures

# С++ files
.cxx
/cert/release.keystore
